
    <form action=""(ngSubmit)="onSubmit()">
        <h2>Registrar un nuevo articulo</h2>
        <div>
            <label for="id">Id del articulo</label>
            <input type="text" name="id" id="" [(ngModel)]="id" > 
        </div>
        <div>
            <label for="title">Nombre del articulo</label>
            <input type="text" name="title" id="" [(ngModel)]="title" > {{title}}
        </div>
        <div>
            <label for="price">Precio</label>
            <input type="text" name="price" id="" [(ngModel)]="price">
        </div>
        <div>
            <label for="quantity">Cantidad</label>
            <input type="text" name="quantity" id="" [(ngModel)]="quantity">
        </div>

        <input type="submit" value="Añadir">
    </form>
